@charset "UTF-8";
body {
  font-family: 'Arrial Narrow', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: black;
}

tr {
  page-break-inside: avoid;
}

table {
  border-collapse: collapse;
}


